{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="background-image: url(https://images6.alphacoders.com/523/523112.jpg);
                                   background-repeat: no-repeat;
                                   background-size: cover">
        <div class="text-white text-center py-5 px-4 my-5">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Pitch Black</strong></h2>
                <p class="mx-5 mb-5">Here at Pitch Black we value creativity and hence aim at immersing our users in unlimited access to such and so much more through various types of pitches </p>
                <hr>
                <a class="btn btn-outline-white btn-md" href="/pickup"><i class="fas fa-clone left"></i>
                    <h4>Pick up lines</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/entertainment"><i class="fas fa-clone left"></i>
                    <h4>Entertainment</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/motivational"><i class="fas fa-clone left"></i>
                    <h4>Motivational</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/pitch/new"><i class="fas fa-clone left"></i>
                    <h4>New pitch</h4>
                </a>
            </div>
        </div>
    </div>
    <!-- Card Dark -->
    <div class="card">

        <div class="view overlay">

            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
    </div>
    <!-- Card Dark -->

</div>




    <!-- Copyright info-->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Adrian Etenyi</a>
    </div>
    <!-- Copyright info-->



{% endblock %}   
                                   </div>
</div>