{% extends 'base.html' %}


{% block content %}
<p>Hi</p>
{% for pitch in pitches %}
<p>{{pitch.title}}</p>
<p>{{pitch.description}}</p>
<p>{{pitch.posted_p}}</p>
<p>Posted by {{pitch.user.username}}</p>
<a href="{{url_for('main.upvote',pitch_id = pitch.id)}}"><i
        class="fas fa-heart"></i>Upvote<span>{{pitch.upvotes.count()}}</span></a>
<a href="{{url_for('main.downvote',pitch_id = pitch.id)}}"><i
        class="fal fa-heartbeat"></i>Downvote<span>{{pitch.downvotes.count()}}</span></a>
<div class="panel-footer"><a href="{{url_for('main.new_comment',pitch_id = pitch.id)}}"> Add a comment</a>

    {% endfor %}

    {% endblock %}
